html {
  height: 100%;
}
body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  height: 100%;
  /* padding: 0 2rem; */
}
img {
  max-width: 100%;
  display: block;
}
